<body class="bg-light">

    <nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark" id="navbarbg" aria-label="Main navigation">
        <div class="container-fluid navBottom">

            <div id="navLogin">
            <a class="navbar-toggler p-0 border-0"><i class="fa fa-user" href="/login"></i>
            
            </a>
        </div>
            <div id="navMenu">
            <button class="navbar-toggler p-0 border-0" onclick="menuFunction()"><i class="fa fa-navicon"></i></button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsMenu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <%if ( menus.length > 0) {%>

                        <% menus.forEach(function(menu) { %>

                            <%if ( menu.childs === null ) {%>

                                <li class="nav-item">
                                    <a class="nav-link" href="/<%= menu.collection %>">
                                        <%= menu.titulo %>
                                    </a>
                                </li>
                                <%} else {%>


                                    <li class="nav-item dropdown row mb-3">

                                        <a class="nav-link col-6 themed-grid-col" href="/<%= menu.collection %>">
                                            <%= menu.titulo %>
                                        </a>

                                        <button class="navbar-toggler p-0 border-0 col-6 themed-grid-col" onclick="<%= menu.titulo %>()">
    <a class="dropdown-toggle" href="#" id="dropdown<%= menu.titulo %>" data-bs-toggle="dropdo" aria-expanded="false">
    </a>
</button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdown<%= menu.titulo %>" id="dropdown<%= menu.titulo %>ul">
                                            <% menu.childs.forEach(function(menuChilds) { %>
                                                <li>
                                                    <a class="dropdown-item" href="/<%= menuChilds.child %>">
                                                        <%= menuChilds.child %>
                                                    </a>
                                                </li>
                                                <%})%>
                                        </ul>
                                    </li>
                                    <script>
                                        function <%= menu.titulo %> () {
                                            var element =
                                                document.getElementById('dropdown<%= menu.titulo %>ul');

                                            if (element.classList) {
                                                element.classList.toggle("show");
                                            } else {
                                                var classes = element.className.split(" ");
                                                var i = classes.indexOf("show");

                                                if (i >= 0)
                                                    classes.splice(i, 1);
                                                else
                                                    classes.push("show");
                                                element.className = classes.join(" ");
                                            }
                                        }
                                    </script>
                                    <%}%>
                                        <%})%>
                                            <%} else {%>
                                                <%}%>
                </ul>

            </div>
        </div>
            <div id="navSearch">
            <button class="navbar-toggler p-0 border-0" onclick="searchFunction()"><i class="fa fa-search"></i></button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsSearch">

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        </div>
    </nav>